* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ct {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    width: 300px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #1877F2;
}

.textbox {
    margin-bottom: 20px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.textbox input:focus {
    border-color: #1877F2;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #1877F2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #1877F2;
}

.bottom-links {
    margin-top: 10px;
}

.bottom-links a {
    text-decoration: none;
    color:#1877F2;
    font-size: 14px;
    margin: 0 5px;
}

.bottom-links a:hover {
    text-decoration: underline;
}